// Импорт глобальных переменных и миксинов
@import '../styles/settings/index';

.header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
}

.title {
    margin: 0;
    font-size: 1em;
}

.titleLink,
.titleLink.active {
    text-decoration: none;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navLink {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;

    &.active {
        text-decoration: none;
        border-bottom-color: var(--accent);
    }
}

.socialLinks,
.socialLinks a {
    display: flex;
}