// Импорт глобальных переменных и миксинов
@import '../styles/settings/index';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-base);
    color: var(--color-white);
    margin: 0;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
    @include container;
    padding: 20px 0;
}

.title {
    color: var(--color-text);
    margin: 0;
    font-size: 1em;
}

.titleLink,
.titleLink.active {
    text-decoration: none;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    text-transform: uppercase;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navLink {
    padding: 1em 0.5em;
    color: var(--color-white);
    border-bottom: 4px solid transparent;
    text-decoration: none;

    &.active {
        text-decoration: none;
        border-bottom-color: var(--accent);
    }
}

.socialLinks,
.socialLinks a {
    display: flex;
}