---
import BaseLayout from '../layouts/BaseLayout.astro';
import bg1 from '../assets/bg1.jpg';
import Image from '@components/ui/Image';
import { HeroBanner } from '@components/react/HeroBanner';
import { HeroTextBlock } from '@components/react/HeroTextBlock';
import { Devider } from '@components/react/Devider';
import Button from '../components/ui/Button';
import styles from '../styles/home.module.scss';
import HeroMenu from '../components/HeroMenu.astro';
---

<BaseLayout>
  <HeroBanner image={bg1} overlay={true} >
    <div class={styles.heroBannerContent}>
     <h1 class={styles.heroBannerTitle}>Найди свое вдохновение</h1>
     <Button size='large'>Хоп!</Button>
    </div>
  </HeroBanner>

  <HeroTextBlock title="О чем чашка?" highlight="Сайт для вдохновения. Когда нет сил. Когда не знаешь ответ." description="Welcome to the official Astro blog starter template. This template serves as a lightweight, minimally-styled starting point for anyone looking to build a personal website, blog, or portfolio with Astro.Welcome to the official Astro blog starter template. This template serves as a lightweight, minimally-styled starting point for anyone looking to build a personal website, blog, or portfolio with Astro.Welcome to the official Astro blog starter template. This template serves as a lightweight, minimally-styled starting point for anyone looking to build a personal website, blog, or portfolio with Astro." />

  <Devider />
  <HeroMenu />  
  <Devider />
</BaseLayout>

